body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


h1.main-header {
    font-family: Kalam;
    font-size: 50px;
}

.input-validation-error {
    background-color: #e74c3c !important;
    color: white !important;
} 

.green-ok {
    color: yellowgreen;
}

.hidden-treasure {
    font-size: 36px;
    color: #222222;
}

.hidden-treasure a, 
.hidden-treasure a:active, 
.hidden-treasure a:hover, 
.hidden-treasure a:visited {
    color: #222222;
}

.input-larger-text {
    font-size: 36px;
    padding: 20px;
    height: 90px;
    width: 90px !important;
    display:inline-block; 
    margin-right: 10px;
}