@{
    ViewBag.Title = "Gratulejszyn...";
}
<h1 class="main-header">@ViewBag.Title</h1>
<h4 style="margin-bottom: 30px">
    Gratuluję Ci wiedzy, sprytu oraz determinacji... <br/>
    Oto Twoja nagroda. Mam nadzieję, że Ci się podoba... 
    <br/>Niedługo zawita ona do Twojej skrzynki pocztowej - tej realnej
</h4>

<div style="text-align: center">
    <img src="~/Content/Images/voucher.png" /><h1 class="main-header" style="color: #F68B3F; display: inline-block; margin-left: 20px; font-size: 100px;">x2</h1>
</div>

